
{% extends"./base.html.twig" %}

{% block title %} My Recettes-Accueil
{% endblock %}
{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Bienvenue sur My Recettes</h1>
            <p class="lead">Application de Création et de Partage de recettes </p>
            <hr class="my-4">
            <p>Avant de commencer, Inscrivez vous</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>

{% endblock %}
